$colorLightCyan: #E6FAFF;
$colorLavender: #F3E1FF;
$colorModeratePurple: #4B3269;
$colorGray: #87898F;
$colorGreen: #34CF70;
$colorLightGreen: #46e082;
$colorPurple: #A283E3;
$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorRed: #FF0000;
$colorBlue: #0000FF;
$colorOrange: #EF7215;
$colorPurpleRed: #B22E48;