@import '../../scss/colors.scss';
@import '../../scss/mixins.scss';

@keyframes gradientBluePurple {
    0% {
        background-position: -10% 110%;
    }
    50% {
        background-position: 110% -10%;
    }
    100% {
        background-position: -10% 110%;
    }
}

.chatList {
    @include flexColumn;
    border-radius: 5vw;
    background: linear-gradient(0deg, $colorLavender 50%, $colorLightCyan 50%);
    animation: gradientBluePurple 10s linear infinite;
    background-size: 200% 200%;
    height: 100%;
    align-items: center;
    width: 7vw;
    padding: 1.5vw 0 0;
    overflow-y: hidden;

    &__button {
        display: flex;
        justify-content: center;
        background-color: $colorWhite;
        width: 100%;
        padding: 2vw 0;
        background-color: $colorBlue;
        opacity: 0.5;
        color: $colorWhite;
        letter-spacing: 0.1vw;
        font-weight: 700;
        cursor: pointer;
        transition: color 0.6s;
        user-select: none;
        font-size: 1vw;
    
        &:hover {
            color: $colorOrange;
        }
    }
}

.previewImage {
    width: 4vw;
    height: 4vw;
    border-radius: 5vw;
    margin: 0.5vw 0;
    border: 0.2vw solid transparent;
    cursor: pointer;

    &:hover {
        border: 0.2vw solid $colorBlack;
    }
}

