@use '../../../sass/abstracts' as i;

@keyframes gradientBluePurple {
    0% {
        background-position: -10% 0%;
    }
    50% {
        background-position: 110% 100%;
    }
    100% {
        background-position: -10% 0%;
    }
}

.footer {
    @include i.gradientAnimation(90deg, i.$colorLightCyan, i.$colorLavender);

    display: grid;
    grid-template-rows: 5vw 5vw;
    justify-items: center;
    align-items: center;
    border-radius: 4vw;
    margin: 0 5vw 5vw 5vw;
    letter-spacing: 0.05vw;
    padding: 2vw;
    font-size: 1.2vw;

    &__header {
        font-weight: 700;
    }

    &__inner {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: center;
        column-gap: 10vw;
    }
}

.contacts {
    margin: 0.5vw 0 0;

    &__logo {
        width: 2vw;
        height: 2vw;
        margin: 0 0.2vw;
        cursor: pointer;
    }
}