@use '../../../sass/abstracts' as i;


.form {
    @extend %form;

    &__header {
        @extend %formHeader;
    }

    &__label {
        @extend %formLabel;
    }

    &__input {
        @extend %formInput;

        &_error {
            border: 0.15vw solid i.$colorRed;
        }
    }

    &__select {
        @extend %formSelect;
    }

    &__button {
        @extend %formButton;

        &:hover {
            background-color: i.$colorLightGreen;
        }

        &:focus {
            border: 0.2vw solid i.$colorPurple;
        }
    }

}